body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form.d-flex{
    float: right !important;
    justify-content: right !important;
}

.container {
    width: 80%;
    height: fit-content;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.container h1{
    margin-bottom: 20px;
    position: statics;
}

header {
    background: #d4d4d4;
    color: #000000;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    font-family: fantasy;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.cart {
    margin: 20px 0;
}
.cart table {
    width: 100%;
    border-collapse: collapse;
}
.cart table, th, td {
    border: 1px solid #ddd;
}
.cart th, .cart td {
    padding: 10px;
    text-align: left;
}
.cart th {
    background-color: #f2f2f2;
}
.total {
    text-align: right;
    margin-top: 20px;
}
.items{
    color: #000000;
    background-color:rgb(234, 234, 234);
    margin: auto;
    width: fit-content;
    border-radius: 20px;
    font-family: fantasy;
    text-align: center;
    border: #000000;
}
.image {
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.9s ease;
    border: #000000 2px;
    text-align: center;
}
.image :hover{
    transform: scale(1.05); 
}

.num{
    padding: 10px;
    background-color: rgb(170, 170, 170);
    position: static;
    width: fit-content;
    margin-inline-start: 1065px;
    border-radius: 30px;
}
.checkout {
    background-color: rgb(0, 0, 0);
    color: black;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
   margin-bottom: 20px;
    border-radius: 30px;
    font-family: fantasy;
}
.checkout :hover{
    transform: scale(0.9);
}
.clear :link , :visited{
    
    background-color: rgb(28, 122, 0);
    color: black;
    border: 2px solid rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-bottom: 10px;
    border-radius: 30px;
    font-family: fantasy;
}

.clear :hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
tr:hover {background-color: coral;}