@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Indie+Flower&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --blue: rgb(1, 79, 134);
    --navy-blue: rgb(1, 42, 74);
    --light-blue: rgb(97, 165, 194);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --light-bg: rgb(214, 204, 194);
    --beige: rgb(174, 138, 103);
    --red: rgb(187, 53, 53);
    --font-primary: "Libre Bodoni", serif;
    --font-secondary: "Indie Flower", cursive;
    --font-heading: "Anton", sans-serif;
}



/*profile*/


/* تنسيقات عامة */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* شريط التنقل */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

.icons {
    display: flex;
    gap: 10px;
}

/* القسم الشخصي */
.profile-section {
    text-align: center;
    margin: 20px 0;
    /*background-color: #fff;*/
    background-color: var(--blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tabs button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #ddd;
}

/* جدول الأنشطة */
.activity-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;

}

.activity-table th, .activity-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;

}

.activity-table th {
    background-color: #f9f9f9;
}